.VisitBar{
    background-color: whitesmoke !important;
    color: black;
}

.VisitCard{
    padding: 4%;
    width: 90% !important;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.VisitCard:hover{
    background-color: rgb(235, 235, 235);
}

.RootCard{
    width: 100%;
}

.RootCard:hover{
    background-color: rgb(235, 235, 235);
}

.root{
    flex-grow: 1;
}

.menuButton{
    margin-right: 2px
}

.title{
    flex-grow: 1;
    color: black
}

.SearchBar{
    margin-right: 10px;
    background-color: rgba(238, 237, 237, 0.158);
    border-radius: 5px;
    text-align: center;
    color: white;
    border: 0.5px solid rgb(173, 173, 173);
}

.SearchBar:active,
.SearchBar:hover{
    border: 0.5px solid #0e9ee6 !important;
}