*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    color: #555;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/bg11.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    background-attachment: fixed;
}

h1 {
    margin-bottom: 10px;
    font-size: 200%;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    word-spacing: 3px;
    letter-spacing: 1px;
}

h2{
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    word-spacing: 3px;
    font-size: 23px;
}

h3{
    margin-top: 35px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    word-spacing: 3px;
    font-size: 40px;
}


p{
    text-align: justify;
    font-size: 19px;
}0

p1{
    margin-top: 20px;
    text-align: justify;
    font-size: 19px;
}

.hero-text-box {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn:link,
.btn:visited{
    margin-top: 5px;
    margin-right: 15px;
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn:hover,
.btn:active{
    background-color: #0fa3a7;
}

.btn-real:link,
.btn-real:visited {
    border: 1px solid #30e7ec;
    color: #30e7ec;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #30e7ec;
    color: #30e7ec;
}

.logo {
    height: 130px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
    margin-top: 70px;
    color: #30e7ec;
}

.main-nav li a:link,
.main-nav li a:visited{
    color: #30e7ec;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    transition: border 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 3px solid #0fa3a7;
}
.seperator {
    background-color: #30e7ec;
    height: 2px;
    width:10%;
    margin-left: 45%;
    margin-bottom: 30px;
    
}

.locations{
    padding: 0;
}

.showcase {
    list-style: none;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.showcase li {
    display: block;
    float: left;
    width: 25%;
    transform: scale(1.15);
    transition: transform 0.5s;
}

.loc-pic {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.loc-pic img{
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;

}

.loc-pic img:hover{
    opacity: 1;
    transform: scale(1.03);
}


.work {
    margin-top: 20px;
    background-color: beige;
}



.section-step{
    background-color: #fafeff;
}


.step-box:first-child{
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.step-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
}

.appscreen{
    width: 40%;
    margin-right: 70px;
}

.workstep{
    margin-bottom: 50px;
}

.workstep: last-of-type{
    margin-bottom: 80px;
}

.workstep div{
    border: 2px solid #30e7ec;
    display: inline-block;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150;
    margin-right: 30px;
}

.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 15px;
}

.clearfix{
    zoom: 1;
}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.box img{
    width: 220px;
    height: 150px;
}

.city-feature{
    margin-bottom: 5px;
}

.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #30e7ec;
    font-size: 120%;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -2px;
}

a:link,
a:active{
    color: #0fa3a7;
    text-decoration: none;
    padding-bottom: 1px;
}

a:hover,
a:active{
    color: #30e7ec;
}

footer{
    background-color: #333;
}

.footer-nav{
    list-style: none;
    float: left;
    margin-top: 30px;    
}

.social-links{
    list-style: none;
    float: right;
    margin-top: 30px;
}

.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 20px;
}

.footer-nav:last-child,
.social-links:last-child{
    margin-right: 0px;
}

footer p{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}